// link reset

@mixin reset-styles-link {
  text-decoration: none;
  color: inherit;
}

// list reset

@mixin reset-styles-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// default margin reset

@mixin reset-default-margin {
  margin: 0;
}

// visually-hidden

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
