// link reset

@mixin reset-styles-link {
  color: inherit;
  text-decoration: none;
}

// list reset

@mixin reset-styles-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// visually-hidden

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
