.about {
  &__heading {
    @include visually-hidden;
  }

  &__site {
    padding: 16px;
    background-color: $color-white;

    @media ($tablet) {
      padding: 30px 40px;
    }

    @media ($desktop) {
      padding: 80px 104px 94px;
    }
  }

  &__site-title {
    margin: 0 0 16px;
    font-family: $font-robotoslab;
    font-size: 30px;
    font-weight: 400;

    @media ($tablet) {
      line-height: 1;
    }
  }

  &__site-description {
    font-size: 18px;
  }

  &__site-paragraph {
    margin: 0 0 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
