.about {
  &__heading {
    @include visually-hidden;
  }

  &__site {
    background-color: $color-white;
    padding: 16px;

    @media($tablet) {
      padding: 30px 40px;
    }

    @media ($desktop) {
      padding: 80px 104px 94px;
    }
  }

  &__site-title {
    @include reset-default-margin;
    font-family: $font-robotoslab-regular;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;

    @media ($tablet) {
      line-height: 34px;
    }
  }

  &__site-description {
    font-size: 18px;
    line-height: 24px;
  }

  &__site-paragraph {
    @include reset-default-margin;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
