.additional-nav {
  display: none;

  @media ($tablet) {
    display: inline;

    &__wrapper {
      padding: 32px 40px;
    }

    &__link {
      @include reset-styles-link;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }

      &--active {
        color: $color-gray-havy-dark;

        &:hover {
          opacity: initial;
        }
      }
    }
  }

  @media ($desktop) {
    &__wrapper {
      padding: 40px 104px;
    }
  }
}
