.analytics {
  background-color: $color-gray-default;

  &__wrapper {
    padding: 24px 16px 38px;

    @media ($tablet) {
      padding: 40px;
    }

    @media ($desktop) {
      padding: 80px 104px;
    }
  }

  &__title {
    @include reset-default-margin;
    font-family: $font-roboto-slab;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 16px;

    @media ($tablet) {
      font-size: 26px;
      margin-bottom: 49px;
    }
  }
}
