.button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 56px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  transition: background-color 0.3s;
}
