.developer {
  &__image-box {
    display: flex;
    margin-right: 10px;
  }

  &__image {
    border-radius: 50%;
    height: 48px;
    margin: auto;
    width: 48px;
  }

  &__name {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  &__mail {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}
