.finder {
  color: $color-white;
  background-image: url('../img/main-background-mobile@x1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media ($tablet) {
    background-image: url('../img/main-background-tablet@x1.png');
  }

  @media ($desktop) {
    background-image: url('../img/main-background-desktop@x1.png');
  }

  &__heading {
    @include visually-hidden;
  }

  &__wrapper {
    padding: 88px 16px 104px;

    @media ($tablet) {
      padding: 104px 160px 48px;
    }

    @media ($desktop) {
      padding: 160px 416px 80px;
    }
  }

  &__title {
    @include reset-default-margin;
    font-family: $font-robotoslab-regular;
    font-size: 36px;
    line-height: 40px;

    @media ($desktop) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  &__description {
    margin-bottom: 64px;

    @media ($tablet) {
      max-width: 700px;
      margin: 0 auto 24px;
    }

    @media ($desktop) {
      margin-bottom: 64px;
    }
  }

  &__explanation {
    @include reset-default-margin;
    margin-top: 16px;
    font-size: 20px;
    line-height: 26px;

    @media ($tablet) {
      font-size: 18px;
      line-height: 24px;
    }

    @media ($desktop) {
      margin-top: 32px;
    }
  }

  &__search {
    position: relative;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background-color: $color-white;

    &::before {
      position: absolute;
      content: 'Поле не должно быть пустым';
      width: 200px;
      height: 30px;
      top: -50px;
      left: calc(50% - 105px);
      font-size: 16px;
      text-align: center;
      padding: 5px;
      border-radius: 30px;
      background-color: red;
      transition: 1s;
      opacity: 0;
    }

    &--invalid::before {
      opacity: 0.7;
    }

    @media ($tablet) {
      max-width: 700px;
      justify-content: space-between;
      padding-left: 25px;
      margin: auto;
    }
  }

  &__input {
    font-size: 16px;
    width: 80%;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 16px;
    }

    @media ($tablet) {
      padding-right: 20px;
      width: 280px;
      flex-grow: 1;
    }
  }

  &__button {
    position: absolute;
    top: 72px;
    width: 100%;
    color: $color-white;
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-light;
    }

    &:active {
      background-color: $color-blue-dark;
    }

    @media ($tablet) {
      position: static;
      width: 160px;
      margin: 0;
    }
  }
}
