.finder {
  color: $color-white;
  background-image: url('../img/backgrounds/main-background-mobile@x1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$media-retina} {
    background-image: url("../img/backgrounds/main-background-mobile@x2.jpg");
  }

  @media ($tablet) {
    background-image: url('../img/backgrounds/main-background-tablet@x1.jpg');

    @media #{$media-retina} {
      background-image: url("../img/backgrounds/main-background-tablet@x2.jpg");
    }
  }

  @media ($desktop) {
    background-image: url('../img/backgrounds/main-background-desktop@x1.jpg');

    @media #{$media-retina} {
      background-image: url("../img/backgrounds/main-background-desktop@x2.jpg");
    }
  }

  &__heading {
    @include visually-hidden;
  }

  &__wrapper {
    padding: 88px 16px 104px;

    @media ($tablet) {
      padding: 104px 160px 48px;
    }

    @media ($desktop) {
      padding: 160px 416px 80px;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-robotoslab;
    font-size: 36px;
    line-height: 40px;

    @media ($desktop) {
      font-size: 60px;
      line-height: 64px;
    }
  }

  &__description {
    margin-bottom: 64px;

    @media ($tablet) {
      max-width: 700px;
      margin: 0 auto 24px;
    }

    @media ($desktop) {
      margin-bottom: 64px;
    }
  }

  &__explanation {
    margin: 16px 0 0;
    font-size: 20px;
    line-height: 26px;

    @media ($tablet) {
      font-size: 18px;
      line-height: 24px;
    }

    @media ($desktop) {
      margin: 32px 0 0;
    }
  }

  &__search {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    @media ($tablet) {
      max-width: 700px;
      margin: auto;
      justify-content: space-between;
    }
  }

  &__input-container {
    position: relative;

    &::before {
      content: 'Нужно ввести ключевое слово';
      position: absolute;
      top: -50px;
      left: 0;
      display: flex;
      align-items: center;
      width: 220px;
      height: 30px;
      padding: 5px;
      font-size: 14px;
      text-align: center;
      background-color: $color-red;
      border-radius: 30px;
      transition: opacity 0.5s;
      opacity: 0;
    }

    &--invalid::before {
      opacity: 0.7;
    }

    @media($tablet) {
      &::before {
        height: 20px;
        top: 65px;
        left: calc(35% - 110px);
      }
    }

    @media($desktop) {
      &::before {
        height: 40px;
        top: 70px;
        left: calc(40% - 110px);
      }
    }
  }

  &__input {
    width: 100%;
    height: 56px;
    margin: auto;
    padding: 0 20px;
    font-size: 16px;
    border: 0;
    border-radius: 30px;
    outline: none;
    
    &::placeholder {
      font-size: 16px;
    }

    @media ($tablet) {
      padding-right: 180px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 10px;
    color: $color-white;
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-light;
    }

    &:active {
      background-color: $color-blue-dark;
    }

    @media ($tablet) {
      position: absolute;
      top: 0;
      left: calc(100% - 159px);
      width: 160px;
      margin: 0;
    }
  }
}
