.footer {
  background-color: $color-white;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 16px;
  }

  &__copyright {
    @include reset-default-margin;
    color: $color-gray-dark;
    width: 100%;
    order: 2;
  }

  &__nav-list {
    flex-direction: column;
  }

  &__nav-item {
    color: $color-black;
    margin-bottom: 30px;

    &:first-child {
      margin-top: 8px;
    }
  }
}
