.footer {
  background-color: $color-white;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 16px;

    @media ($tablet) {
      align-items: center;
      padding: 21px 40px;
    }

    @media ($desktop) {
      padding: 33px 104px;
    }
  }

  &__copyright {
    @include reset-default-margin;
    color: $color-gray-havy-dark;
    width: 100%;
    order: 2;

    @media ($tablet) {
      order: initial;
      width: 140px;
    }
  }

  &__social {
    margin-top: -10px;

    @media($tablet) {
      margin-top: 0;
    }
  }

  &__nav-list {
    flex-direction: column;

    @media ($tablet) {
      flex-direction: row;
    }
  }

  &__nav-item {
    color: $color-black;
    margin-bottom: 30px;

    &:first-child {
      margin-top: 8px;
    }

    @media ($tablet) {
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__nav-link {
    @media ($tablet) {
      padding-bottom: 0;
    }
  }
}
