.git {
  background-color: $color-gray-default;

  &__wrapper {
    padding: 30px 16px;
  }

  &__title {
    font-family: $font-roboto-slab;
    font-size: 30px;
    line-height: 40px;
    width: 60%;
  }

  &__button {
    @include reset-styles-link;
    padding: 15px 67px;
    margin-top: 24px;
    border: 1px solid $color-black;
    background-color: $color-gray-default;

    &:hover {
      background-color: $color-gray-dark;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
