.graph {
  border-collapse: collapse;
  width: 100%;

  &__title {
    color: $color-gray-havy-dark;
    font-size: 12px;
    line-height: 1.5;
    vertical-align: top;
  }

  &__title-date {
    border-bottom: 2px solid $color-gray-havy-dark;
    padding-bottom: 8px;
  }

  &__title-quantity {
    border-bottom: 2px solid $color-gray-havy-dark;
  }

  &__title-month {
    display: block;
  }

  &__bar {
    display: none;

    @media ($tablet) {
      display: table-row;
    }
  }

  &__bar-values {
    @media ($tablet) {
      display: flex;
      margin-bottom: 8px;
      margin-top: 16px;
    }
  }

  &__bar-value {
    @media ($tablet) {
      color: $color-gray-havy-dark;
      font-size: 12px;
      width: 25%;

      &:last-child {
        width: auto;
      }
    }
  }
  
  &__day {
    font-size: 18px;
    padding-top: 18px;
    width: 96px;

    @media ($tablet) {
      padding-top: 56px;
      width: 102px;

      &--first {
        padding-top: 0;
      }
    }
  }

  &__value-container {
    padding-top: 18px;

    @media ($tablet) {
      padding-top: 56px;

      &--first {
        padding-top: 0;
      }
    }
  }

  &__value {
    background-color: $color-blue;
    color: $color-white;
    font-size: 12px;
    height: 24px;
    min-width: 12px;
    padding: 3px;
    transition: width 0.5s;
    width: 12px;

    @media($tablet) {
      padding: 4px;
    }
  }
}
