.header {
  width: 100%;
  border-bottom: 1px solid $color-gray-dark;

  &--page-index {
    position: absolute;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;

    @media ($tablet) {
      padding: 22px 40px 18px;
    }

    @media ($desktop) {
      padding: 30px 104px 26px;
    }
  }

  &__logo {
    @include reset-styles-link;
    font-family: $font-roboto-slab;
    font-weight: bold;

    &--color-white {
      color: $color-white;
    }

    @media ($tablet) {
      font-size: 20px;
    }
  }
}
