.nav {
  &__list {
    @include reset-styles-list;
    display: flex;
  }

  &__item {
    color: $color-gray-dark;
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include reset-styles-link;
    padding-bottom: 14px;
    transition: 0.3s;

    &[href]:hover {
      opacity: 0.7;
    }

    &[href]:active {
      opacity: 0.5;
    }

    &--active {
      color: $color-white;
      border-bottom: 4px solid $color-white;
    }
  }
}
