.nav {
  &__list {
    @include reset-styles-list;
    display: flex;
  }

  &__item {
    color: $color-gray-dark;
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }

    @media ($tablet) {
      margin-right: 34px;
    }
  }

  &__link {
    @include reset-styles-link;
    padding-bottom: 14px;

    &--active {
      color: $color-white;
      border-bottom: 4px solid $color-white;
    }

    @media ($tablet) {
      font-size: 18px;
      padding-bottom: 16px;
    }
  }
}
