.preloader {
  background-color: $color-gray-default;
  display: flex;
  flex-direction: column;
  height: 150px;
  padding-bottom: 20px;
  position: relative;

  @media($tablet) {
    height: 200px;
    padding-bottom: 40px;
  }

  @media($desktop) {
    height: 250px;
    padding-bottom: 60px;
  }

  &__element {
    
    animation: spin 0.75s infinite linear;
    border: 2px solid $color-gray-havy-dark;
    border-bottom-color: $color-gray-default;
    
    border-radius: 50%;
    bottom: 0;
    display: block;
    height: 50px;
    left: 0;
    margin: auto;
    
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }

  &__message {
    color: $color-gray-havy-dark;
    margin: auto 0 0;
    text-align: center;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
