.results {
  &__contentainer {
    background-color: $color-gray-default;
    padding: 32px 16px 44px;
    position: relative;

    @media ($tablet) {
      padding: 40px;
    }

    @media ($desktop) {
      padding: 80px 104px;
    }
  }

  &__updater {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 110px;

    @media($tablet) {
      top: 80px;
    }

    @media($desktop) {
      top: 90px;
    }

    &--active {
      opacity: 1;
    }
  }

  &__updater-image { bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 15px;
  }

  &__header {
    margin-bottom: 45px;

    @media ($tablet) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 55px;
      max-width: 1000px;
    }

    @media ($desktop) {
      margin: 0 auto 64px;
      max-width: 1980px;
    }
  }

  &__title {
    font-family: $font-robotoslab;
    font-size: 30px;
    line-height: 1;
    margin: 0 0 16px;

    @media ($tablet) {
      margin: 0;
    }

    @media ($desktop) {
      font-size: 40px;
    }
  }

  &__link {
    @include reset-styles-link;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, opacity 0.3s;

    &:hover {
      color: $color-gray-havy-dark;
    }

    &:hover > .results__arrow {
      fill: $color-gray-havy-dark;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__arrow {
    display: flex;
    transition: fill 0.3s;
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media ($desktop) {
      margin: auto;
      max-width: 1230px;
    }
  }

  &__article {
    margin: 0 5px 8px;

    @media ($tablet) {
      min-width: 224px;
      width: calc((100% / 3) - 10px);
    }

    @media ($desktop) {
      min-width: 400px;
    }
  }

  &__button {
    background-color: $color-white;
    margin-top: 13px;
    width: 100%;

    &:hover {
      background-color: $color-gray-dark;
    }

    &:active {
      opacity: 0.6;
    }

    @media ($tablet) {
      width: 240px;
    }

    @media ($desktop) {
      margin: 64px auto 80px;
      width: 288px;
    }
  }
}
