.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;

  .slider__swiper-container {
    max-width: 1980px;
    height: 264px;
  }

  .slider__swiper-button-prev,
  .slider__swiper-button-next {
    display: none;
  }

  .swiper-slide {
    height: 85%;
    background-color: $color-white;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-black;
  }
  
  @media ($desktop) {
    .slider__swiper-button-prev,
    .slider__swiper-button-next {
      display: flex;
      height: 40px;
      width: 40px;
      background-color: $color-black;
      border-radius: 50%;
    }
  
    .slider__swiper-button-next::after,
    .slider__swiper-button-prev::after {
      font-size: 12px;
      color: $color-white;
    }
  }
}
