.slider {
  margin: auto;
  overflow: hidden;
  width: 90%;

  .slider__swiper-container {
    height: 264px;
    max-width: 1980px;
  }

  .slider__swiper-button-prev,
  .slider__swiper-button-next {
    display: none;
  }

  .swiper-slide {
    background-color: $color-white;
    height: 85%;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-black;
  }
  
  @media ($desktop) {
    .slider__swiper-button-prev,
    .slider__swiper-button-next {
      background-color: $color-black;
      border-radius: 50%;
      display: flex;
      height: 40px;
      width: 40px;
    }
  
    .slider__swiper-button-next::after,
    .slider__swiper-button-prev::after {
      color: $color-white;
      font-size: 12px;
    }
  }
}
