.social {
  &__list {
    @include reset-styles-list;
    display: flex;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    margin: auto;
    width: 60px;
    height: 60px;
  }

  &__image {
    margin: auto;
  }
}
