.social {
  &__list {
    @include reset-styles-list;
    display: flex;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    height: 60px;
    margin: auto;
    transition: opacity 0.2s;
    width: 60px;

    &:hover {
      opacity: 0.6;
    }
  }

  &__image {
    margin: auto;
  }
}
