.swiper {
  &-container {
    width: 90%;
    height: 264px;
  }

  &-slide {
    background-color: $color-white;
  }
}

.swiper-container > .swiper-button-next, .swiper-container > .swiper-button-prev {
  display: none;
}
