.tech {
  background-color: $color-gray-default;

  &__wrapper {
    padding: 32px 16px 38px;

    @media ($tablet) {
      padding: 40px;
    }

    @media ($desktop) {
      display: flex;
      padding: 80px 104px 88px;
    }
  }

  &__title {
    font-family: $font-robotoslab;
    font-size: 30px;
    margin: 0 0 40px;

    @media ($desktop) {
      margin: 0 178px 0 0;
    }
  }

  &__list {
    @include reset-styles-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 33px;
    width: 120px;

    @media ($tablet) {
      margin-bottom: 0;
    }

    @media ($desktop) {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__name {
    margin: 0;
  }

  &__image {
    height: 120px;
    width: 120px;
  }
}
