@import "../variables/colors.scss";
@import "../variables/font-family.scss";

body {
  font-family: $font-roboto-regular;
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  min-width: 320px;
  background-color: rgb(114, 114, 236);
}
