@font-face {
  font-family: 'Roboto-regular';
  src: url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-medium';
  src: url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-style:  normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-slab';
  src: url("../fonts/robotoslab-regular-webfont.woff") format("woff");
  font-style:  normal;
  font-weight: 400;
}
