@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('../fonts/roboto-medium.woff2') format('woff2'),
        url('../fonts/roboto-medium.woff') format('woff');
}

@font-face {
  font-family: 'Robotoslab';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/robotoslab-regular.woff2') format('woff2'),
        url('../fonts/robotoslab-regular.woff') format('woff');
}
