<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Страница рассказывает о сайте и о использованных технологиях">
  <meta name="keywords" content="агрегатор новостей, анализатор новостей, свежие новости, поиск новостей">
  <meta name="author" content="Алексей Лебедев">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <title>About</title>
</head>
<body>
  <header class="header">
    <div class="header__wrapper">
      <a class="header__logo" href="index.html">NewsAnalyzer</a>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--internal" href="./index.html">Главная</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--active">О&nbsp;проекте</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="about">
      <h1 class="about__heading">О&nbsp;проекте: про сайт и&nbsp;технологии</h1>
      <article class="about__site">
        <h2 class="about__site-title">Клиентам</h2>
        <div class="about__site-description">
          <p class="about__site-paragraph">
            Этот сайт&nbsp;&mdash; дипломный проект студента Яндекс.Практикума. Его цель&nbsp;&mdash; показать, чему научился студент, какими технологиями владеет.
          </p>
          <p class="about__site-paragraph">
            Вёрстка сайта выполнена по&nbsp;методологии БЭМ. Это делает сайт гибким и&nbsp;масштабируемым. Кроме того, добавлять новые страницы и&nbsp;функциональность проще и&nbsp;быстрее, чем в&nbsp;проектах, выполненных по&nbsp;другим методологиям. Также сайт проще и&nbsp;дешевле поддерживать.
          </p>
          <p class="about__site-paragraph">
            Карточки с&nbsp;новостями приходят с&nbsp;сервера и&nbsp;обрабатываются асинхронно. То&nbsp;есть сайт продолжает работать, пока от&nbsp;сервера приходит ответ. Это повышает удобство использования сервиса.
          </p>
          <p class="about__site-paragraph">
            При создании проекта была использована сборка технологией Webpack. Это современный подход к&nbsp;разработке сайтов. Код оптимизируется, а&nbsp;значит, сайт работает быстрее. Также сайт работает в&nbsp;старых браузерах. Даже если посетители&nbsp;&mdash; пользователи старых операционных систем, у&nbsp;них не&nbsp;будет проблем с&nbsp;отображением. А&nbsp;значит, потенциальная аудитория возрастает.
          </p>
          <p class="about__site-paragraph">
            Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы&nbsp;рекомендуем обратиться к&nbsp;этому студенту.
          </p>
        </div>
      </article>
      <article class="tech about__tech">
        <div class="tech__wrapper">
          <h2 class="tech__title">Используемые<br>технологии</h2>
          <ul class="tech__list">
            <li class="tech__item tech__item--html">
              <h3 class="tech__name">HTML</h3>
              <svg class="tech__image" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#html"></use>
              </svg>
            </li>
            <li class="tech__item tech__item--css">
              <h3 class="tech__name">CSS</h3>
              <svg class="tech__image" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#css"></use>
              </svg>
            </li>
            <li class="tech__item tech__item--js">
              <h3 class="tech__name">Java Script</h3>
              <svg class="tech__image" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#js"></use>
              </svg>
            </li>
            <li class="tech__item tech__item--webpack">
              <h3 class="tech__name">Webpack</h3>
              <svg class="tech__image" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#webpack"></use>
              </svg>
            </li>
          </ul>
        </div>
      </article>
    </section>
    <section class="author">
      <div class="author__wrapper">
        <div class="author__photo-container">
          <picture>
            <source media="(min-width: 1440px)" srcset="<%= require('./img/avatar/avatar-desktop@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-desktop@2x.jpg').default %> 2x">
            <source media="(min-width: 768px)" srcset="<%= require('./img/avatar/avatar-tablet@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-tablet@2x.jpg').default %> 2x">
            <source media="(min-width: 320px)" srcset="<%= require('./img/avatar/avatar-mobile@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-mobile@2x.jpg').default %> 2x">
            <img class="author__photo" src="<%= require('./img/avatar/avatar-mobile@1x.jpg').default %>" alt="фото автора">
          </picture>
        </div>
        <div class="author__description">
          <h3 class="author__title">Об авторе</h3>
          <p class="author__bio">
            Это блок с&nbsp;описанием автора проекта. Здесь следует указать, как вас зовут, чем вы&nbsp;занимаетесь, какими технологиями разработки владеете.Также можно рассказать о&nbsp;процессе обучения в&nbsp;Практикуме, чему вы&nbsp;тут научились, и&nbsp;чем можете помочь потенциальным заказчикам. Если хотите, оставьте свои контакты: email и&nbsp;телефон. Так заказчики смогут с&nbsp;вами связаться.
          </p>
        </div>
      </div>
    </section>
    <section class="git">
      <div class="git__wrapper">
        <h2 class="git__title">История коммитов из&nbsp;GitHub</h2>
        <div class="git__button-box">
          <a class="button git__button" href="https://github.com/AlxLebedev/news-aggregator" target="_blank">
            Открыть в&nbsp;гитхаб
            <span class="git__button-arrow">
              <svg width="24" height="26" viewBox="0 0 24 26" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#arrow"></use>
              </svg>
            </span>
          </a>
        </div>
        <div class="slider">
          <div class="slider__swiper-container swiper-container">
            <div class="slider__swiper-wrapper swiper-wrapper"></div>
            <div class="slider__swiper-pagination swiper-pagination"></div>
            <div class="slider__swiper-button-prev swiper-button-prev"></div>
            <div class="slider__swiper-button-next swiper-button-next"></div>
          </div>
        </div>
        <template id="swiper-slide-template">
          <div class="swiper-slide">
            <div class="commit">
              <div class="commit__wrapper">
                <p class="commit__date"></p>
                <div class="developer commit__developer">
                  <div class="developer__image-box">
                    <img class="developer__image" src="#">
                  </div>
                  <div class="developer__info">
                    <p class="developer__name"></p>
                    <p class="developer__mail"></p>
                  </div>
                </div>
                <p class="commit__message"></p>
              </div>
            </div>
          </div>
        </template>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__wrapper">
      <p class="footer__copyright">&copy;&nbsp;2019 Cote-code</p>
      <nav class="nav footer__nav">
        <ul class="nav__list footer__nav-list">
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link nav__link--internal" href="./index.html">Главная</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link nav__link--internal" href="#">О&nbsp;проекте</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <div class="social footer__social">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="https://github.com/AlxLebedev" aria-label="Гитхаб" target="_blank">
              <svg class="social__image social__image--github" width="24" height="24" fill="#666666">
                <use xlink:href="#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/AlxLebedev" aria-label="Фейсбук" target="_blank">
              <svg class="social__image social__image--fb" width="24" height="24" fill="#666666">
                <use xlink:href="#fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>
