<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сайт находит актуальные новости по введенному запросу">
  <meta name="keywords" content="новости, агрегатор новостей, анализатор новостей, свежие новости, поиск новостей">
  <meta name="author" content="Алексей Лебедев">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  <title>Агрегатор новостей</title>
</head>
<body>
  <header class="header header--page-index">
    <div class="header__wrapper">
      <a class="header__logo header__logo--color-white" href="index.html">NewsAnalyzer</a>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--index-active">Главная</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--internal" href="./about.html">О&nbsp;проекте</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="finder">
      <h1 class="finder__heading">Поиск новостей</h1>
      <div class="finder__wrapper">
        <div class="finder__description">
          <h2 class="finder__title">Что в мире<br>творится?</h2>
          <p class="finder__explanation">
            Введите в&nbsp;поиске любую тему и&nbsp;узнайте, насколько популярной она была в&nbsp;новостях за&nbsp;прошедшую неделю.
          </p>
        </div>
        <div class="finder__search">
          <div class="finder__input-container">
            <input class="finder__input" type="text" placeholder="Политика">
          </div>
          <button class="button finder__button" type="button">Искать</button>
        </div>
      </div>
    </section>
    <section class="results">
      <template id="results-template">
        <div class="results__contentainer">
          <div class="results__updater">
            <svg class="results__updater-image " width="120" height="30">
              <use xlink:href="#three-dots"></use>
            </svg>
          </div>
          <div class="results__header">
            <h2 class="results__title">Результаты поиска</h2>
            <a class="results__link nav__link--internal" href="./statistic.html">
              Посмотреть аналитику
              <span class="results__arrow">
                <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                  <use xlink:href="#arrow"></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="results__articles"></div>
          <button class="button results__button" type="button">Показать еще</button>
        </div>
      </template>
      <template id="preloader-template">
        <div class="preloader results__preloader">
          <span class="preloader__element"></span>
          <p class="preloader__message">
            Идет поиск новостей...
          </p>
        </div>
      </template>
      <template id="error-template">
        <div class="error">
          <div class="error__wrapper">
            <div class="error__image-box">
              <img class="error__image" src="#" width="96" height="96" alt="картинка ошибки">
            </div>
            <p class="error__warning"></p>
            <p class="error__message"></p>
          </div>
        </div>
      </template>
      <template id="article-template">
        <article class="article results__article">
          <a class="article__link" href="#" target="_blank">
            <div class="article__image-box">
              <img class="article__image" src="#" alt="картинка на сервере не найдена">
            </div>
            <div class="article__wrapper">
              <div class="article__date"></div>
              <h3 class="article__title"></h3>
              <p class="article__content"></p>
              <p class="article__owner"></p>
            </div>
          </a>
        </article>
      </template>
    </section>
    <section class="author">
      <div class="author__wrapper">
        <div class="author__photo-container">
          <picture>
            <source media="(min-width: 1440px)" srcset="<%= require('./img/avatar/avatar-desktop@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-desktop@2x.jpg').default %> 2x">
            <source media="(min-width: 768px)" srcset="<%= require('./img/avatar/avatar-tablet@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-tablet@2x.jpg').default %> 2x">
            <source media="(min-width: 320px)" srcset="<%= require('./img/avatar/avatar-mobile@1x.jpg').default %> 1x, <%= require('./img/avatar/avatar-mobile@2x.jpg').default %> 2x">
            <img class="author__photo" src="<%= require('./img/avatar/avatar-mobile@1x.jpg').default %>" alt="фото автора">
          </picture>
        </div>
        <div class="author__description">
          <h3 class="author__title">Об авторе</h3>
          <p class="author__bio">
            Это блок с&nbsp;описанием автора проекта. Здесь следует указать, как вас зовут, чем вы&nbsp;занимаетесь, какими технологиями разработки владеете.Также можно рассказать о&nbsp;процессе обучения в&nbsp;Практикуме, чему вы&nbsp;тут научились, и&nbsp;чем можете помочь потенциальным заказчикам. Если хотите, оставьте свои контакты: email и&nbsp;телефон. Так заказчики смогут с&nbsp;вами связаться.
          </p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer__wrapper">
      <p class="footer__copyright">&copy;&nbsp;2019 Cote-code</p>
      <nav class="nav footer__nav">
        <ul class="nav__list footer__nav-list">
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link nav__link--internal" href="#">Главная</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link nav__link--internal" href="./about.html">О&nbsp;проекте</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a class="nav__link footer__nav-link" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <div class="social footer__social">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="https://github.com/AlxLebedev" aria-label="Гитхаб" target="_blank">
              <svg class="social__image social__image--github" width="24" height="24" fill="#666666">
                <use xlink:href="#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/AlxLebedev" aria-label="Фейсбук" target="_blank">
              <svg class="social__image social__image--fb" width="24" height="24" fill="#666666">
                <use xlink:href="#fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>
</html>
