@import './variables/colors.scss';

@import './global-styles/fonts.scss';
@import './global-styles/body-styles.scss';

p {
  color: $color-green;
}

.box {
  width: 50px;
  height: 50px;

  &--one {
    background-color: #3944ad;
  }

  &--two {
    background-color: #cff153;
  }
}

.attention {
  width: 400px;
  height: 400px;
  background-image: url('../img/gift-photo-mobile@1x.jpg');
  background-size: cover;
  background-color: blue;
}

