// fonts

$font-roboto-regular: "Oswald", "Arial", "Helvetica", sans-serif;
$font-roboto-medium: "Oswald", "Arial", "Helvetica", sans-serif;;
$font-roboto-slab: "Oswald", "Arial", "Helvetica", sans-serif;
$font-arial: "Arial", "Helvetica", sans-serif;

// colors

$color-black: #000000;
$color-white: #ffffff;
$color-gray-default: #F5F6F7;
$color-gray-dark: #e8e8e9;
$color-gray-havy-dark: #b6bcbf;
$color-blue-light: #347EFF;
$color-blue: #2F71E5;
$color-blue-dark: #2A65CC;

// pixel density

$media-retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

// screen sizes

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// media queries

$tablet: "min-width: #{$width-tablet}";
$desktop: "min-width: #{$width-desktop}";
